<div style="margin-top: -105px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white experiencia" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
           <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>
                Desenvolvimento de aplicações back-end desde o projeto, testes unitários e deploy em produção 
            </p>

            <p class="text-primary cabecalho">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary cabecalho">
                Experiência:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Dapper</li>
                <li>Principios SOLID</li>
            </ul>

        </div>
        <div class="col col-3 bg-white experiencia" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Criação de aplicações front-ends usando as ferramentas mais atuais do mercado integradas ao back-end 
            </p>

            <p class="text-primary cabecalho">
                Stack:
            </p>

            <p>
                Angular
            </p>

            <p class="text-primary cabecalho">
                Experiência:
            </p>

            <ul>
                <li>Angular Material</li>
                <li>jQuery</li>
                <li>Javascript</li>
                <li>HTML/CSS</li>
            </ul>
        </div>
        <div class="col col-3 bg-white experiencia" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-window-fullscreen"></i>
            <h3>Conhecimentos em outras áreas</h3>
            
            <p class="text-primary cabecalho">
                Experiência:
            <p>
                Possuo também conhecimentos em:
            </p>
            </p>
            <ul>
                <li>AWS Cloud</li>
                <li>Redes</li>
                <li>Linux</li>
                <li>Docker</li>
                <li>Unreal Engine 5</li>
            </ul>
        </div>
    </div>
</div>
