<div id="footer" class="text-center">
    <div class="container-fluid">
        <div class="socials-media text-center">
            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/profile.php?id=100053507662230" target="_blank"><i class="bi bi-facebook"></i></a></li>
                <li><a href="https://twitter.com/joao_valentedev" target="_blank"><i class="bi bi-twitter"></i></a></li>
                @*<li><a href=""><i class="bi bi-instagram"></i></a></li>*@
                <li><a href="https://www.linkedin.com/in/joao-marcos-valente-0b3542229/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
        <p>&copy; Copyright João Marcos Valente</p>
    </div>
</div>
