@model IEnumerable<Projeto>

@{
    ViewData["Title"] = "Projetos";
}

<div class="container">
<br />
<br />
    <h1>Meus projetos</h1>
    <p>Alguns dos projetos que já desenvolvi</p>
</div>

<partial name="_Projetos" model="Model" />